table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #030101;
    padding: 8px;
    text-align: center;
}
.width-8{
    width: 80%;
} 
.width-2{
    width: 20%;
}

th {
    background-color: #f2f2f2;
}
.color-1{
    background-color: #FFF0A2;
}
.color-2{
    background-color: #D0D1FF;
}
.color-3{
    background-color: #FEC2C2;
}
.color-4{
    background-color: #B2FFD1;
}
.color-5{
    background-color: #FFC2FC;
}
.col{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: end;
}
.row {
    display:flex;
}